body {
	padding:1.2rem 0 0 0;
}

main {
	margin:0 auto;
	max-width:90%;
}

textarea {
	width:100%;
	height: 200px; 
	overflow: scroll;
	border: 1px solid #000000; 
}

main > div > section > button {
	margin-bottom:3px;
}

main > div > section:first-child {
	padding-right: 24px;
}

main > div > section:nth-child(2) {
	max-width:740px;
}

main section > article > footer {
	text-align: center;
}

@media all and (min-width: 300px) and (max-width: 500px) {

	main, main > div > section:first-child {
		width:100%!important;
		max-width: 100%;
	}


}
